{% extends "appTemp/base_generic.html" %}

{% block content %}
    <h1>Information</h1>
    <p>Update Covid-19 Information in {{ name }} Today</p>
    <ul class="list-group" style="width: 600px;">
        <li class="list-group-item">
            <div style="white-space:pre">Positive Cases&#9;: {{ positif }}</div>
            <div style="white-space:pre">Recovery&#9;&#9;: {{ sembuh }}</div>
            <div style="white-space:pre">Death&#9;&#9;&#9;: {{ meninggal }}</div>
            <div style="text-align: right;">
                
            </div>    
        </li>
    </ul>
    <div class="news">
        {% load static %}
        <h3>Latest News:</h3>

        <a href="https://megapolitan.kompas.com/read/2020/12/26/21591291/dites-swab-pasien-yang-mesum-di-wisma-atlet-positif-covid-19-perawat" target="_blank">
        <div class="news1">
        {% load static %}
        <img src="{% static 'appStatic/news1.jpg' %}" alt="news1.jpg"><br><br>
        <h5> Dites Swab, Pasien yang Mesum di Wisma Atlet Positif Covid-19, Perawat Negatif</h5>
        Kompas.com - 26/12/2020, 21:59 WIB
        <!-- https://megapolitan.kompas.com/read/2020/12/26/21591291/dites-swab-pasien-yang-mesum-di-wisma-atlet-positif-covid-19-perawat -->
        </div>
        </a>

        <a href="https://tekno.tempo.co/read/1416831/who-varian-baru-virus-corona-covid-19-di-inggris-kalah-oleh-vaksin" target="_blank">
        <div class="news2">
        {% load static %}
        <img src="{% static 'appStatic/news2.jpg' %}" alt="news2.jpg"><br><br>
        <h5> WHO: Varian Baru Virus Corona Covid-19 di Inggris Kalah oleh Vaksin</h5>
        Tempo.co - 22/12/2020, 18:37 WIB
        <!-- https://tekno.tempo.co/read/1416831/who-varian-baru-virus-corona-covid-19-di-inggris-kalah-oleh-vaksin -->
        </div>
        </a>

        <a href="https://news.detik.com/berita-jawa-tengah/d-5311359/update-corona-di-jateng-27-desember-ada-674-kasus-baru-dalam-sehari?_ga=2.26380221.1225409238.1609091363-1882193786.1607592948"target="_blank">
        <div class="news3">
        {% load static %}
        <img src="{% static 'appStatic/news3.jpeg' %}" alt="news3.jpeg"><br><br>
        <h5> Update Corona di Jateng 27 Desember: Ada 674 Kasus Baru dalam Sehari</h5>
        Detik.com - 27/12/2020, 20:56 WIB
        <!-- https://news.detik.com/berita-jawa-tengah/d-5311359/update-corona-di-jateng-27-desember-ada-674-kasus-baru-dalam-sehari?_ga=2.26380221.1225409238.1609091363-1882193786.1607592948 -->
        </div>
        </a>
        
        <a href="https://megapolitan.kompas.com/read/2020/12/28/12165101/warga-kota-tangerang-akan-terima-bst-rp-1800000-pada-2021" target="_blank">
        <div class="news4">
            {% load static %}
            <img src="{% static 'appStatic/news4.jpg' %}" alt="news4.jpg"><br><br>
            <h5> Warga Kota Tangerang Akan Terima BST Rp 1.800.000 pada 2021</h5>
            Kompas.com - 28/12/2020, 12:16 WIB
            <!-- https://megapolitan.kompas.com/read/2020/12/28/12165101/warga-kota-tangerang-akan-terima-bst-rp-1800000-pada-2021 -->
        </div>
        </a>

        <a href="https://tekno.tempo.co/read/1418304/genose-dapat-izin-edar-ugm-banyak-yang-pesan-hingga-perusahaan-singapura" target="_blank">
        <div class="news6">
            {% load static %}
            <img src="{% static 'appStatic/news6.jpg' %}" alt="news6.jpg"><br><br>
            <h5> GeNose Dapat Izin Edar, UGM: Banyak yang Pesan, Hingga Perusahaan Singapura</h5>
            Tempo.co - 28/12/2020, 18:09 WIB
            <!-- https://tekno.tempo.co/read/1418304/genose-dapat-izin-edar-ugm-banyak-yang-pesan-hingga-perusahaan-singapura -->
        </div> 
        </a>

        <a href="https://nasional.kompas.com/read/2020/12/28/15433301/update-28-desember-107789-kasus-aktif-covid-19-di-indonesia" target="_blank">
        <div class="news7">
            {% load static %}
            <img src="{% static 'appStatic/news7.jpg' %}" alt="news7.jpg"><br><br>
            <h5> UPDATE 28 Desember: 107.789 Kasus Aktif Covid-19 di Indonesia</h5>
            Kompas.com - 28/12/2020, 15:43 WIB
            <!-- https://nasional.kompas.com/read/2020/12/28/15433301/update-28-desember-107789-kasus-aktif-covid-19-di-indonesia -->
        </div>
        </a>

        <a href="https://news.detik.com/berita-jawa-timur/d-5312367/nakes-terpapar-covid-19-lima-puskesmas-di-tuban-ditutup?_ga=2.194169517.1225409238.1609091363-1882193786.1607592948" target="_blank">
        <div class="news5">
            {% load static %}
            <img src="{% static 'appStatic/news5.jpeg' %}" alt="news5.jpeg"><br><br>
            <h5> Nakes Terpapar COVID-19, Lima Puskesmas di Tuban Ditutup</h5>
            Detik.com - 28/12/2020, 18:06 WIB
            <!-- https://news.detik.com/berita-jawa-timur/d-5312367/nakes-terpapar-covid-19-lima-puskesmas-di-tuban-ditutup?_ga=2.194169517.1225409238.1609091363-1882193786.1607592948 -->
        </div>
        </a>
        <a href="https://tekno.tempo.co/read/1418284/korsel-pastikan-kasus-pertama-varian-baru-covid-19-dari-inggris" target="_blank">
        <div class="news8">
            {% load static %}
            <img src="{% static 'appStatic/news8.jpg' %}" alt="news8.jpg"><br><br>
            <h5> Korsel Pastikan Kasus Pertama Varian Baru Covid-19 dari Inggris</h5>
            Tempo.co - 28/12/2020, 17:06 WIB
            <!-- https://tekno.tempo.co/read/1418284/korsel-pastikan-kasus-pertama-varian-baru-covid-19-dari-inggris -->
        </div>
        </a>
    </div>
{% endblock %}