{% extends "appTemp/base_generic.html" %}

{% block content %}
    <div class="text-center" style="margin-left: 200px;  width: 1px;">
        {% load static %}
        <img src="{% static 'appStatic/logo-tut-wuri-handayani.png' %}" alt="logo-tut-wuri-handayani.png">
    </div>
    <div class="aside">
        {% load static %}
        <h2>List of Group Member:</h2>
        <div class="student1">
        {% load static %}
        <img src="{% static 'appStatic/panji.jpg' %}" alt="panji.jpg"><br><br>
        Name &emsp;  &emsp;&nbsp;: &nbsp;Panji Arlin S <br>
        ID Number&nbsp;&nbsp;: &nbsp;001201900037<br>
        Email &emsp;&emsp; &nbsp;&nbsp;: &nbsp;
        </div>
        <div class="student2">
        {% load static %}
        <img src="{% static 'appStatic/richard.jpg' %}" alt="Richard.jpg"><br><br>
        Name &emsp;  &emsp;&nbsp;: &nbsp;Richard Owen H <br>
        ID Number&nbsp;&nbsp;: &nbsp;001201900026<br>
        Email &emsp;&emsp; &nbsp;&nbsp;: &nbsp;richardowenh@gmail.com
        </div>
        <div class="student3">
        {% load static %}
        <img src="{% static 'appStatic/wilbert.jpg' %}" alt="wilbert.jpg"><br><br>
        Name &emsp;  &emsp;&nbsp;: &nbsp;Wilbert Chen<br>
        ID Number&nbsp;&nbsp;: &nbsp;001201900046<br>
        Email &emsp;&emsp; &nbsp;&nbsp;: &nbsp;wilbert.chen@student.president.ac.id
        </div>
    </div>
{% endblock %}