{% extends "appTemp/base_generic.html" %}

{% block content %}
    <h1>All Class Page</h1>
    <p>Registered class in this school:</p>
    <form method="POST" action="" class="form-inline">
        {% csrf_token %}
        <input style="width: 600px;" name="name" type="text" class="form-control" placeholder="Type to search ...."/>
        <select name="searchby" class="form-control">
            <option value="class_name">Class Name</option>
            <option value="class_batch">Batch</option>
        </select>
        <button type="submit" class="btn btn-info">Search</button>
    </form>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <td><strong>Class Name</strong></td>
                <td><strong>Batch</strong></td>
                <td><strong>Advisor</strong></td>
                <td><strong>Subject</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for class in class_list %}
            <tr>
                <td>{{ class.class_name }}</td>
                <td>{{ class.class_batch }}</td>
                <td>{{ class.class_advisor }}</td>
                <td>{{ class.class_subject.all|join:', ' }}</td>
                <td>
                    <a href="{% url 'class_edit' class.class_id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'class_delete' class.class_id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <p>
        <a href="{% url 'class_add' %}" class="btn btn-info">Add New Class</a>
    </p>
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if class_list.has_previous %}
                    <li><a href="?page=1" class="page-link">&laquo; First</a></li>
                    <li><a href="?page={{ class_list.previous_page_number }}" class="page-link">Previous</a></li>
                {% endif %}

                <li>
                    <span class="current page-item">
                        Page {{ class_list.number }} of {{ class_list.paginator.num_pages }}
                    </span>
                </li>

                {% if class_list.has_next %}
                    <li><a href="?page={{ class_list.next_page_number }}" class="page-link">Next</a></li>
                    <li><a href="?page={{ class_list.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </center>
{% endblock %}