{% extends "appTemp/base_generic.html" %}

{% block content %}
{% if type != 'edit' %}
    <p class="h1">Add a Class</p>
{% else %}
    <p class="h1">Edit a Class</p>
{% endif %}
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'employee_add' %}" class="btn btn-default">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                 Add Advisor
            </a>
            <a href="{% url 'subject_add' %}" class="btn btn-default">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                 Add Subject
            </a>
            <br/><br/>
            {% if type != 'edit' %}
                <input type="submit" value="Add" class="btn btn-info"/>
            {% else %}
                <input type="submit" value="Update" class="btn btn-info"/>
            {% endif %}
                <a href="{% url 'class' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
{% endblock %}