{% extends "appTemp/base_generic.html" %}

{% block content %}
    <h1>All Student Page</h1>
    <p>Registered student in this school:</p>
    <form method="POST" action="" class="form-inline">
        {% csrf_token %}
        <input style="width: 700px;" name="name" type="text" class="form-control" placeholder="Type to search ...."/>
        <select name="searchby" class="form-control">
            <option value="student_name">Student Name</option>
            <option value="student_email">Email</option>
            <option value="student_phone">Phone</option>
            <option value="student_address">Address</option>
        </select>
        <button type="submit" class="btn btn-info">Search</button>
    </form>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <td><strong>Student Name</strong></td>
                <td><strong>Date of Birth</strong></td>
                <td><strong>Email</strong></td>
                <td><strong>Phone</strong></td>
                <td><strong>Address</strong></td>
                <td><strong>Class</strong></td>
                <td><strong>Extracurricular</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <td>{{ student.student_name }}</td>
                <td>{{ student.student_DOB }}</td>
                <td>{{ student.student_email }}</td>
                <td>{{ student.student_phone }}</td>
                <td>{{ student.student_address }}</td>
                <td>{{ student.student_class.all|join:', ' }}</td>
                <td>{{ student.student_extracurricular.all|join:', ' }}</td>
                <td>
                    <a href="{% url 'student_edit' student.student_id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'student_delete' student.student_id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <p>
        <a href="{% url 'student_add' %}" class="btn btn-info">Add New Student</a>
    </p>
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if student_list.has_previous %}
                    <li><a href="?page=1" class="page-link">&laquo; First</a></li>
                    <li><a href="?page={{ student_list.previous_page_number }}" class="page-link">Previous</a></li>
                {% endif %}

                <li>
                    <span class="current page-item">
                        Page {{ student_list.number }} of {{ student_list.paginator.num_pages }}
                    </span>
                </li>

                {% if student_list.has_next %}
                    <li><a href="?page={{ student_list.next_page_number }}" class="page-link">Next</a></li>
                    <li><a href="?page={{ student_list.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </center>
{% endblock %}