
/*------------------------------------------------------
    HOME PAGE
-------------------------------------------------------- */
.text-center img{
    width: 200px;
    margin-left: 350px;
}
.student img{
    width: 300px;
    text-align: center;
}

.student{
    float:left;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.tut-wuri-handayani{
    width: 80px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/*------------------------------------------------------
    COVID NEWS
-------------------------------------------------------- */

.news div img{
    width: 300px;
    text-align : center;
}

.news{
    float : left;
    max-width : 340px;
    padding : 20px;
    box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius : 5px;
    overflow : auto;
}

/*------------------------------------------------------
    ABOUT US
-------------------------------------------------------- */
.data{
    width: 90%;
    padding: 10px;
    height: 880px;
    background: rgb(219, 168, 66);
    color:#fff;
    text-align: center;
    border-radius: 25px;
    margin-top: 40px;
}

.data img{
    width: 200px;
    margin-left: 20px;
    text-align: center;
    border-radius: 15px;
    margin-top: -10px;
    
}
.data h4{
    text-align: center ;
    margin-left: 25px;
}

.story {
    text-align: center;
    padding: 5px;
    width: 90%;
    background: #374785;
    color: #fff;
    border-radius: 25px;
    margin-top: 40px;
}
.story p{
    color:#fff;
}

/*------------------------------------------------------
    CONTACT US
-------------------------------------------------------- */

.group-msg{
    
    
    background-color: rgb(219, 168, 66);
    color: #fff;
    border-radius: 25px;
    padding: 20px;
}

.biodata{
    
    width: 740px;
    background-color: #374785;
    color: #fff;
    border-radius: 25px;
    padding: 20px;
    height: 460px;
}

.biodata h3{
    margin-top: -10px;
}

.group-msg h3{
    margin-top: -10px;
}

.contact-bio{
    margin-left: 20px;
    font-size: 16px;
}

.contact-bio p{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
}

.button {
    text-align: right;
}

.isi{
    padding: 5px;
}