{% extends "appTemp/base_generic.html" %}

{% block content %}
    <h1>All Subject Page</h1>
    <p>Registered subject in this school:</p>
    <form method="POST" action="" class="form-inline">
        {% csrf_token %}
        <input style="width: 600px;" name="name" type="text" class="form-control" placeholder="Type to search ...."/>
        <select name="searchby" class="form-control">
            <option value="subject_name">Subject Name</option>
            <option value="subject_description">Description</option>
        </select>
        <button type="submit" class="btn btn-info">Search</button>
    </form>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <td><strong>Subject Name</strong></td>
                <td><strong>Description</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for subject in subject_list %}
            <tr>
                <td>{{ subject.subject_name }}</td>
                <td style="max-width: 400px;">{{ subject.subject_description }}</td>
                <td>
                    <a href="{% url 'subject_edit' subject.subject_id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'subject_delete' subject.subject_id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <p>
        <a href="{% url 'subject_add' %}" class="btn btn-info">Add New Subject</a>
    </p>
    <center>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if subject_list.has_previous %}
                    <li><a href="?page=1" class="page-link">&laquo; First</a></li>
                    <li><a href="?page={{ subject_list.previous_page_number }}" class="page-link">Previous</a></li>
                {% endif %}

                <li>
                    <span class="current page-item">
                        Page {{ subject_list.number }} of {{ subject_list.paginator.num_pages }}
                    </span>
                </li>

                {% if subject_list.has_next %}
                    <li><a href="?page={{ subject_list.next_page_number }}" class="page-link">Next</a></li>
                    <li><a href="?page={{ subject_list.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </center>
{% endblock %}